<ul class="list-group">
  <% commentable.comments.each do |comment| %>

    <li class="thread">
      <div class="media">

        <div class="media-body">

          <div class="media-heading">
            <span class="label label-default">
              <%= comment.user.username %> said:
            </span>
          </div>

          <%= comment.body %>

          <br/>

          <small>
            <%= time_ago_in_words(comment.created_at) %> ago
          </small>
          <hr>

          <% if logged_in? %>
            <%= render partial: "comments/form", locals: { commentable: comment } %>
          <% else %>
            <h3>Please log in to make a comment.</h3>
          <% end %>
          
          <% if comment.user == current_user %>
            <div class="btn-group pull-right">
              <%= link_to "Delete", post_comment_path(@post, comment), method: :delete,
                                    data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" %>
            </div>
          <% end %>
        </div>

      </div>

      <ul class="list-group">
        <% comment.comments.each do |reply| %>
          <li class="thread">
            <div class="media">

              <div class="media-body">

                <div class="media-heading">
                  <span class="label label-default">
                    <%= reply.user.username %> said:
                  </span>
                </div>

                <%= reply.body %>

                <br/>

                <small>
                  <%= time_ago_in_words(reply.created_at) %> ago
                </small>
                <hr>
                <% if reply.user == current_user %>
                  <div class="btn-group pull-right">
                    <%= link_to "Delete", comment_comment_path(comment, reply), method: :delete,
                                          data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" %>
                  </div>
                <% end %>
              </div>

            </div>
          </li>
        <% end %>
      </ul>

    </li>



  <% end %>
</ul>
